{% extends 'base.html' %}
{% block content %}
    {% load translate_menu_item %}
    {% load i18n %}
    <div class="d-flex justify-content-between">
        {% for item in menu_list %}
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="item_{{item.id}}" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate_menu_item item.id "name" %}
                </button>
                <div class="dropdown-menu" aria-labelledby="item_{{item.id}}">
                    {% for child_item in item.child_items.all %}
                        {% include 'menu_manager/menu_item.html' with item=child_item %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <a href="{% url 'admin:index' %}" class="btn btn-primary">Administration</a>
        <form action="{% url 'menu_manager:change_language' %}" method="post">
            {% csrf_token %}
            <input hidden value="{{request.get_full_path}}" name="next"/>
            <select class="form-select" name="new_language">
                {% for language in languages %}
                    <option
                        value="{{language.code}}"
                        {% if language.code == selected_language %} selected {% endif %}
                    >
                        {{language.name}}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Change language">
        </form>
    </div>
{% endblock content %}
{% block scripts %}
<script>
    $(document).ready(() => {
        $('.tree-toggle').click(function () {
            $(this).parent().children('ul.tree').toggle(200);
        });
    });
</script>
{% endblock scripts %}