{% load translate_menu_item %}

{% if item.child_items.all %}
    <a href="#" class="dropdown-item submenu" role="menu" type="button" id="item_{{item.id}}" data-bs-toggle="dropdown" aria-expanded="false">
        {% translate_menu_item item.id "name" %}
    </a>
    <div class="dropdown-menu" aria-labelledby="item_{{item.id}}">
        {% for child_item in item.child_items.all %}
            {% include 'menu_manager/menu_item.html' with item=child_item %}
        {% endfor %}
    </div>
{% else %}
    <a class="dropdown-item" type="button" id="item_{{item.id}}" href="{{item.link}}">
        {% translate_menu_item item.id "name" %}
    </a>
{% endif %}
