<!DOCTYPE html>
<html lang="ua">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        {% block head %}{% endblock head %}
        <style>
            .dropdown-menu .dropdown-menu {
                top: auto;
                left: 100%;
                transform: translateY(-2rem);
            }
            .dropdown-item + .dropdown-menu {
                display: none;
            }
            .dropdown-item.submenu::after {
                content: '▸';
                margin-left: 0.5rem;
            }
            .dropdown-item:hover + .dropdown-menu,
            .dropdown-menu:hover {
                display: block;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock content %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>
